$body-bg : #eee;
$dropdawn-border : #eee;
$header-bg: #bdffac;
$header-color: #fff;
$card-bg: rgb(82, 82, 162);
$shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
$go-btn:rgb(40, 252, 40);
$go-btn-hover: rgb(33, 212, 33);
$cansel-btn:#f43a07;
$text-btn:#eee;
$border-btn:#fff;
$shadow-btn:2px 2px 2px rgba(0, 0, 0, 0.2);
$login-bg:#fff;
$menu-btn:#0f3ab1;
$cardsCont-bg:rgb(208, 182, 182);
$deckInfoHeader-bg:rgb(208, 182, 182);
$deckInfoSummary-bg:rgb(208, 182, 182);
$deckInfoContent-bg:rgb(208, 182, 182);
$deckInfoFooter-bg:rgb(190, 250, 134);
$emptyCard-bg:rgb(208, 182, 182);
$leftContainer-bg:rgba(183, 232, 137);
$selectedItem-bg:rgba(61, 133, 166, 0.567)