.main-Center{
  width: 85%;
  // height: 100%;
  padding: 0;
  @include flexRow;
  // display: flex;
  // align-items: center
  // @include flexColumn;
}

.deck-Info {
  @include flexColumn;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  background-color: $cardsCont-bg;
  // align-items: flex-start;
}
.deck-Info .data {
  font-style: italic;
  font-size: 0.4rem;
  // font-family: Arial, Helvetica, sans-serif;
}

.deck-Info_Header {
  width: 100%;
  @include flexRow;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $deckInfoHeader-bg;
  font-size: 0.5rem;
  line-height:1rem;

  }



.deck-Info_Summary {
  width: 100%;
  @include flexColumn;
  align-items: flex-start;
  background-color: $deckInfoSummary-bg;

}

.deck-Info_Content {
  width: 100%;
  @include flexRow;
  justify-content: space-between;
  background-color: $deckInfoContent-bg;

}
// .deck-Info_Header .deck-Info_Header_Right {
//   margin-left: auto;
// }
.deck-Info_Footer {
  width: 100%;
  background-color: $deckInfoFooter-bg;
  border-radius: 0.4rem;


}
.deck-Info_Footer_Actions {
  width: 100%;
  @include flexRow;
  // justify-content: space-between;
  justify-content: space-around;
}

.iconBtn {
  @include iconBtn;
}

.cardElContainer {
  @include flexColumn;
  height: 100%;
  width: 90%;
  justify-content: space-between;
}

.cardElContainer .cardEl {
  @include flexColumn;
  height: 95%;
  width: 100%;
  justify-content: space-between;
  background-color: $card-bg;
  transition: transform 0.6ms ease-in-out; 
  transform-style: preserve-3d;
  position: relative;
}

.cardElContainer .cardEl:focus {
  transform: rotateX('180deg');
  @include flexColumn;
  height: 90%;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  transition: transform 0.6ms ease-in-out; 
  transform-style: preserve-3d;
}

.cardElContainer .cardElControls {
  @include flexRow;
  height: 10%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $deckInfoFooter-bg;
  border-radius: 0.5rem;
}

.cardElContainer .cardElControls button{
  padding: 0 0.5rem;
}

.cardElContainer .cardEl .cardEl_Header {
  width: 100%;
  @include flexRow;
  justify-content: flex-end;
  height: 5%;

}

.cardElContainer .cardEl .cardEl_Header button {
  padding: 0 0.5rem;
  
}

.cardElContainer .cardEl .cardEl_Frontside ,
.cardElContainer .cardEl .cardEl_Backside {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  backface-visibility: hidden;
  // box-shadow: $shadow;
  bottom: 3%;
  white-space: pre-wrap;
  
}

.cardElContainer .cardEl .cardEl_Backside {
  transform: rotateX('180deg');
  @include flexColumn;
}

.cardElContainer .cardEl .cardEl_Backside .backsideContent {
  
  @include flexRow;
  width: 100%;
  height: 85%;

}
.cardElContainer .cardEl .cardEl_Backside .diffSelector {
  
  @include flexRow;
  justify-content: space-between;
  font-size: 0.5em;
  background-color: aquamarine;
  width: 100%;
  border-radius: 0.3rem;
}

.cardElContainer .cardEl .cardEl_Backside .diffSelector .diffSelector_Div{
  flex: 5;
  @include flexRow;
  justify-content: space-around;
}

.cardElContainer .cardEl .cardEl_Backside .diffSelector .diffSelector_Div{
flex: 1;
}

.cardElContainer .cardEl .cardEl_Backside .diffSelector .diffSelector_Div .diff_Div{
  @include flexColumn;
  justify-content: space-between;
  height: 100%;
} 

//new card forms
.emptyCardForm {
  width: 100%;
  height: 100%;
  @include flexColumn;
  background-color:$emptyCard-bg;
  justify-content:flex-start;


}

.emptyCardForm .emptyCardHeader {
  @include flexRow;
  width: 50%;
  max-height: 15%;
  margin-bottom: 0.5rem;
}

.emptyCardForm .emptyCardFront ,  .emptyCardForm .emptyCardBack{
  @include flexRow;
  width: 85%;
  max-height: 40%;
  // padding: 0.05rem;
}

.emptyCardForm textarea {
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem;

  // @include flexColumn;
  // text-align: center;
  // vertical-align: middle;
}



.cards_Cont {
  width: 100%;
  margin: 0.3rem;
  text-align: center;
  @include flexCenter;
  flex-direction: column;
  padding: 0;
  background-color: $cardsCont-bg;
  border-radius: 0.5rem;

  // justify-content: center;
  // align-items: center;
}

.card_header {
  width: 100%;
  margin: 0.3rem;
  text-align: start;
}

.card_search {
  width: 65%;
  // height: 10%;
  margin: 0.3rem;
  text-align: start;
  background-color: $card-bg;
  border-radius: 0.5rem;
  
}

.card_rearch_body {
  width: 100%;
  height: 20vh;
  text-align: center;
  background-color: white;
  margin: 0.5rem;
  @include flexCenter;
  overflow:auto ;
}

.cardElControls_Center {
  @include flexCenter;
}