@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn{
  @include flexCenter;
  flex-direction: column;
  padding: 0.1rem;
}

@mixin flexRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 0.2rem;
}

@mixin mq($size) {
  @media only screen and (min-width: $size)  {
    @content;
  }
}

@mixin goBtn{
  text-align: center;
  background-color: $go-btn;
  color: $text-btn;
  border-radius: 5px;
  margin: 0.2rem 0.5rem;
  border: 1px solid $border-btn;
  box-shadow: $shadow-btn;
  font-size: 0.4rem;
  padding: 0.2em 0.5em;
  width: 2.5rem;
  letter-spacing: 0.05em;
  font-weight: 700;

}

@mixin btnHover {
  // box-shadow: none;
  cursor: pointer;
  background: $go-btn-hover;
}

@mixin btnFocus {
  outline: none;
  box-shadow: $shadow;
}

@mixin label {
  margin: 0.4rem 0 0 0;
  text-align: start;
}

@mixin input{
  font-size: 0.4rem;
  padding: 0.2em 0.5em;
  letter-spacing: 0.05em;
  margin: 0.2rem 0 0.2rem 0;
}

@mixin iconBtn {
  background: transparent;
  border: none;
  color: $go-btn;
  cursor: pointer;
  
}

@mixin menuBtn {
  background: transparent;
  border: none;
  color: $menu-btn;
  cursor: pointer;
  // width: 100%;
}

// @mixin link {
//   text-decoration: none;
// }