body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .app-title{
    flex: 0 1 20%;  
  }
  
  .navbar{
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
    justify-content: space-around;

  }

  .navbarNav {
    flex: 4;

  }

  .navbarNav ul{
    display: flex;
    flex-direction: row;
    background-color: rgb(135, 164, 92);
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
   
   .dropdown {
    /* background: none; */
    /* border: none; */
    /* cursor: pointer; */
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;

  }
  /* ul li {
    width: 100%;
  } */
  /* .dropdown-toggle{
    position: absolute;
  } */
   .dropdown_cont {
    /* display: none; */
    position: absolute;
    top:50px;
    display: none;
    background-color: greenyellow;
    left: 0;
    
   }
   .dropdown_cont  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }


   .link {
    text-decoration: none;
   }


   .show {
    display: block;
   }

  
   .d-none {
    display: none;
   }

  
    /* background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */
  
  
  /* .dropdown .dropdown_cont {
    display: none;
  } */
  
  


  /* #dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #dropdown-content a:hover {
    background-color: #555;
  }
  
  .dropdown-show {
    display: block; */
  
  
  @media only screen and (max-width: 600px) {
    .sticky-header {
      flex-direction: column;
      align-items: center;
    }
  
    #dropdown-content {
      position: static;
    }
  }
  